/* Tipos de valores de cor:
 - rgb = Vermelho, verde e azul;
 - rgba = Vermelho, verde, azul e alfa;
 - #FFFFFF = Hexadecimal;
 - hsl = Matiz, saturação and luminosidade;
 - hsla = Matiz, saturação, luminosidade e alfa;
 - red, green, blue = Nomes de cores.
 */

/* ============= RESET ============= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* "*" é o seletor universal */

ul {
  list-style: none;
}

a {
  text-decoration: none; /* Remove as linhas presentes nos links */
}

img {
  width: 100%;
  height: auto;
}

/* ============= VARIABLES ============= */
:root {
  --header-height: 4.5rem;

  /* Colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
} /* As variáveis (sempre seguindo a sintaxe acima) apenas podem ser acessadas dentro dos elementos que são criadas, por isso, são comumente colocadas em :root */

/* ============= BASE ============= */
html {
  scroll-behavior: smooth; /* Habilita a rolagem suave da página */
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased; /* Propriedades com vendor prefixes apenas são aplicadas em navegadores compatíveis */
} /* Para acessar o valor de uma variável é preciso colocar "var" seguido do nome da variável entre parênteses */

.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  display: inline-flex;
  align-items: center;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  color: var(--text-color-light);
  font: 500 1rem 'Dm Sans', sans-serif;
  transition: background-color 0.3s;
  /* A tag "a", por padrão, possui o display "inline", dado isso, ela não recebe valores de altura e largura que ultrapassem o tamanho do conteúdo. */
}

.button:hover {
  background-color: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/* ============= LAYOUT ============= */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid; /* Habilita novas propriedades CSS */
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.15);
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}

/* ============= LOGO ============= */
.logo {
  font: 700 1.3125rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

/* ============= NAVIGATION ============= */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center; /* Define o alinhamento horizontal */
  justify-content: space-between; /* Define o alinhamento vertical */
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--base-color);

  position: absolute; /* Possui uma posição absoluta em relação ao elemento pai mais próximo que detém posição relativa */
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden; /* Torna os links do menu inacessíveis, não clicáveis */

  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* SHOW MENU */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background-color: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed; /* Cria uma nova camada ("linha") na página */
  top: 0;
  left: 0;

  display: grid;
  place-content: center; /* Centraliza os elementos em todas as direções */
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* TOGGLE MENU */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  opacity: 1;
  visibility: visible;

  top: 1.5rem;
}

/* ============= HOME ============= */
#home {
  overflow: hidden; /* "overflow" significa "transbordar". Essa propriedade aplica uma estilização aos elementos que ultrapassam as caixas que estão contidos */
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  /* Através do "::before" ou do "::after" é possível criar um elemento "fantasma" no CSS, essa criação é chamada de sudo element */
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--base-color-second);
  position: absolute; /* O elemento é posicionado com base no tamanho da página inteira */
  top: -16.8%;
  left: 16.7%;
  z-index: 0; /* Eixo de profundidade, o elemento com maior índice é colocado na frente dos elementos de menor índice */
}

#home .image img {
  position: relative; /* Habilita novas propriedades CSS, como "top", "right", "left" e "bottom" */
  right: 2.9375rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text p {
  margin-bottom: 2rem;
}

/* ============= ABOUT ============= */
#about {
  background-color: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--base-color-second);
  position: absolute;
  top: -8.4%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* ============= SERVICES ============= */
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}
