/* Types of color values:
  - rgb = Red, green and blue;
  - rgba = Red, green, blue and alpha;
  - #FFFFFF = Hexadecimal;
  - hsl = Hue, saturation and luminosity;
  - hsla = Hue, saturation, luminosity and alpha;
  - red, green, blue = Color names.
*/

/* ============= RESET ============= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* "*" is the universal selector */

ul {
  list-style: none;
}

a {
  text-decoration: none; /* Remove lines present in links */
}

img {
  width: 100%;
  height: auto;
}

/* ============= VARIABLES ============= */
:root {
  --header-height: 4.5rem;

  /* Colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
} /* Variables (always following the syntax above) can only be accessed within the elements that are created, so they are commonly placed in :root */

/* ============= BASE ============= */
html {
  scroll-behavior: smooth; /* Enable smooth page scrolling */
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased; /* Properties with vendor prefixes are only applied in supported browsers */
} /* To access the value of a variable, put "var" followed by the variable name in parentheses */

.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  display: inline-flex;
  align-items: center;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  color: var(--text-color-light);
  font: 500 1rem 'Dm Sans', sans-serif;
  transition: background-color 0.3s;
  /* The "a" tag, by default, has the "inline" display, as it does not receive height and width values that exceed the size of the content. */
}

.button:hover {
  background-color: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/* ============= LAYOUT ============= */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid; /* Enable new CSS properties */
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.15);
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}

/* ============= LOGO ============= */
.logo {
  font: 700 1.3125rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

/* ============= NAVIGATION ============= */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center; /* Set the horizontal alignment */
  justify-content: space-between; /* Set vertical alignment */
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--base-color);

  position: absolute; /* Has an absolute position relative to the closest parent element that holds relative position */
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden; /* Makes menu links inaccessible, not clickable */

  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* SHOW MENU */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background-color: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed; /* Creates a new layer ("line") on the page */
  top: 0;
  left: 0;

  display: grid;
  place-content: center; /* Centers elements in all directions */
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* TOGGLE MENU */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  opacity: 1;
  visibility: visible;

  top: 1.5rem;
}

/* ============= HOME ============= */
#home {
  overflow: hidden; /* This property applies a styling to elements that go beyond the boxes that are contained */
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  /* Through "::before" or "::after" it is possible to create a "ghost" element in CSS, this creation is called sudo element */
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--base-color-second);
  position: absolute; /* The element is positioned based on the size of the entire page */
  top: -16.8%;
  left: 16.7%;
  z-index: 0; /* Depth axis, element with highest index is placed in front of elements with lowest index */
}

#home .image img {
  position: relative; /* Enables new CSS properties such as "top", "right", "left" and "bottom" */
  right: 2.9375rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text p {
  margin-bottom: 2rem;
}

/* ============= ABOUT ============= */
#about {
  background-color: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--base-color-second);
  position: absolute;
  top: -8.4%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* ============= SERVICES ============= */
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* ============= TESTIMONIALS ============= */
#testimonials {
  background-color: white;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  color: var(--base-color);

  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover; /* Fits the image to the given size by covering the excess space */
  clip-path: circle(); /* Creates a mask (crop) on the circle-shaped image */
  margin-right: 0.5rem;
}

/* SWIPER */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--base-color);
}

/* ============= CONTACT ============= */
#contact div.grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/* ============= FOOTER ============= */
footer {
  background-color: var(--base-color);
}

footer .brand .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social a {
  margin-right: 2rem;
}
